{% extends 'main/header.html' %}
{% block title %}Functions{% endblock %}
{% block content %}

<div class="container">
        <div class="row" style="padding-top: 125px;">
          <div class="col">
          <input type="text" style="height:40px; width:50%; font-size:19pt; border:solid 3px black; border-radius: 40px;" class="form-control" placeholder="What are you looking for?"><br><br>
      
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Input</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Output</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Name</font></button><br>
  
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Entity</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Pattern</font></button><br>
  
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Phrase</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Sentence</font></button><br><br>
  
          <button class="button button3" style="border:solid 1px black; border-radius: 20px; "><font color="black">Change</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Input: <font color="#40ff00">Image, Size</font></font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Output: <font color="#40ff00">Image</font></font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>
  
          <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Find</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Input: <font color="#40ff00">Image, Source</font></font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Output: <font color="#40ff00">Page</font></font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>
  
          <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Show</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Input:</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Output:</font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>
  
          <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Check</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Input:</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 350px;"><font color="black">Output::</font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br><br><br>
          </div>
        </div>
      </div>
  
      <div class="container">
          <div class="row" style="padding-top: 100px;">
            <div class="col">
            <input type="text" style="height:40px; width:50%; font-size:18pt; border:solid 3px black; border-radius: 50px;" class="form-control" placeholder="What are you looking for?"><br><br>
            
            <button class="button button2" style="border:solid 1px black; border-radius: 150px; width: 200px;"><font color="black">Input</font></button>
            <button class="button button2" style="border:solid 1px black; border-radius: 150px; width: 200px;"><font color="black">Output</font></button>
            <button class="button button2" style="border:solid 1px black; border-radius: 150px; width: 200px;"><font color="black">Name</font></button><br><br>
  
            <button class="button button3" style="border:solid 1px black; border-radius: 20px; width: 400px;"><font color="black">Change Size of Image</font></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>&nbsp;&nbsp;&nbsp;
            <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>
  
            <div class="row">
            <div class="funcbox">This division is for search results....</div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="funcbox">This division is for search results....</div>
          </div><br><br><br><br>
        </div>
            </div>
          </div>
        </div>

{% endblock %}