{% extends 'main/header.html' %}
{% block title %}Patterns{% endblock %}
{% block content %}

<div class="container">
        <div class="row" style="padding-top: 150px;">
          <div class="col">
              <input type="text" style="height:40px; width:50%; font-size:19pt; border:solid 3px black; border-radius: 40px;" class="form-control" placeholder="What are you looking for?"><br><br>
            
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Phrase</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Sentence</font></button><br>
          
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Noun Phrase</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Adjective Phrase</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Adverb Phrase</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Verb Phrase</font></button><br>
            
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">The</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">United States</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">The</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">Country</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">The</font></button>
              <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">Noun</font></button><br>
    
          </div>
        </div>
        <br><br>
        <div class="div2">This division is for search results....</div><br><br><br><br>
      </div>

{% endblock %}
