{% extends 'main/header.html' %}
{% block title %}Welcome to Everidata . . .  {% endblock %}
{% block content %}
<h2><center>Welcome to Everidata.....</center></h2>
<br><br><br><br>
<div style="border:solid 5px black; width:50%; float:center; margin:auto; border-radius: 50px;" >
    <form>
      <center>
      <table>
        <tr>
          <td><h3>Entities</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
        <tr>
          <td><h3>Patterns</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
        <tr>
          <td><h3>Functions</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td><br>
        </tr>
        <tr>
          <td><h3>Intents</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
        <tr>
          <td><h3>Agents</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
      </table>
</center>
</form>
</div>

{% endblock %}