{% extends 'main/header.html' %}

{% block content %}
<h2><center>Welcome to Everidata.....</center></h2>
<br><br>
<div style="border:solid 5px black; width:50%; float:center; margin:auto; border-radius: 50px;" >
    <form>
      <center>
      <table>
        <tr>
          <td><h3>Entities</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
        <tr>
          <td><h3>Patterns</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
        <tr>
          <td><h3>Functions</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td><br>
        </tr>
        <tr>
          <td><h3>Intents</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
        <tr>
          <td><h3>Agents</h3></td>
          <td><input type="text" style="border:solid 3px black; border-radius: 50px;" class="form-control" placeholder=""></td>
        </tr>
      </table>
</center>
</form>
</div>

<div class="container">
  <div class="row" style="padding-top: 200px;">
      <h2><center>Entities</center></h2>
    <div class="col">
      <center><input type="text" style="height:40px; width:50%; font-size:18pt; border:solid 3px black; border-radius: 50px;" height="50%" class="form-control" placeholder="Enter to Search...."></center><br><br>

    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Country</font></button>
    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Company</font></button>
    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Movie</font></button><br>

    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">United States</font></button>
    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">US Army</font></button>
    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">US Navy</font></button>
    <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">US Air Force</font></button><br>
    </div>
  </div>
  <br><br>
  <div class="div2">This division is for search results....</div><br>
</div>

<div class="container">
    <div class="row" style="padding-top: 200px;">
        <h2><center>Patterns</center></h2>
      <div class="col">
        <center><input type="text" style="height:40px; width:50%; font-size:18pt; border:solid 3px black; border-radius: 50px;" height="50%" class="form-control" placeholder="Enter to Search...."></center><br><br>
        
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Phrase</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Sentence</font></button><br>
  
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Noun Phrase</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Adjective Phrase</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Adverb Phrase</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">Verb Phrase</font></button><br>
      
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">The</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 200px;"><font color="black">United States</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">The</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">Country</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">The</font></button>
      <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 100px;"><font color="black">Noun</font></button><br>

      </div>
    </div>
    <br><br>
    <div class="div2">This division is for search results....</div><br>
  </div>

  <div class="container">
      <div class="row" style="padding-top: 200px;">
          <h2><center>Functions</center></h2>
        <div class="col">
          <center><input type="text" style="height:40px; width:50%; font-size:18pt; border:solid 3px black; border-radius: 50px;" height="50%" class="form-control" placeholder="Enter to Search...."></center><br><br>
    
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Input</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Output</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Name</font></button><br>

        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Entity</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Pattern</font></button><br>

        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Phrase</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Sentence</font></button><br>

        <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Change</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Input: Image, Size</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Output: Image</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>

        <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Find</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Input: Image, Source</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Output: Page</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>

        <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Show</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Input:</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Output::</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>

        <button class="button button3" style="border:solid 1px black; border-radius: 20px;"><font color="black">Check</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Input:</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px; width: 300px;"><font color="black">Output::</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>
        <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br><br><br>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row" style="padding-top: 100px;">
          <div class="col">
            <center><input type="text" style="height:40px; width:50%; font-size:18pt; border:solid 3px black; border-radius: 50px;" class="form-control" placeholder="Image"></center><br><br>
          
          <button class="button button2" style="border:solid 1px black; border-radius: 150px;"><font color="black">Input</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 150px;"><font color="black">Output</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 150px;"><font color="black">Name</font></button><br><br>

          <button class="button button3" style="border:solid 1px black; border-radius: 20px; width: 400px;"><font color="black">Change Size of Image</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">View</font></button>
          <button class="button button2" style="border:solid 1px black; border-radius: 20px;"><font color="black">Edit</font></button><br><br>

          <div class="row">
          <div class="funcbox">This division is for search results....</div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="funcbox">This division is for search results....</div>
        </div><br><br><br><br>
      </div>
          </div>
        </div>
      </div>

{% endblock %}